:root {
  --primary-color: #f8cca5;
  --secondary-color: #2e1d42;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: var(--primary-color);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 25px;
}
p {
  padding: 20px 20px 0 20px;
  line-height: 1;
}
.primary-links a {
  color: var(--secondary-color);
  margin: 0 10px;
}

.croissant-photo {
  max-width: 90%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

.foto-page {
  margin-bottom: 50px;
}
